a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.p-head{
    color: #EC6B4B;
    font-size: xx-large;
    font-weight: 800;
}

@media(max-width:768px){
    .p-head{
        font-size: x-large;
        font-weight: 800;
    }
}

.sen-h{
    font-size: larger;
}

.sen-d{
    font-size: large;
}

@media(max-width:768px){
    .table.dataTable>tbody>tr.child span.dtr-title {
        font-size: large;
    }

    .table.dataTable>tbody>tr.child span.dtr-data {
        font-size: medium;
    }

    .sen-h{
        font-size: large;
    }
    .sen-d{
        font-size: medium;
    }

}

@media(max-width:576px){
    .table.dataTable>tbody>tr.child span.dtr-title {
        font-size: small;
    }

    .table.dataTable>tbody>tr.child span.dtr-data {
        font-size: small;
    }

    .sen-h{
        font-size: small;
    }
    .sen-d{
        font-size: small;
    }
}
