{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biometric</title>

    <link rel="stylesheet" href="{%static 'css/sensors.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script> 
        $(function () {
          setTimeout(function() {
            window.location.href = "/Gateway/login_auth/?next=/Gateway/";
        }, 15*60*1000);
      
          $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });

          $("#example2").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });

          $("#example3").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });
        });
      </script>
</head>
<body class="bg-light">
    <section class="sec-head" style="background-color: antiquewhite;">
        <div class="container text-center my-auto mt-3 mb-3 font-weight-bold">
            <p class="p-head">Biometric</p>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item sen-d"><a href="{% url 'sensors' %}">Home</a></li>
                            <li class="breadcrumb-item active sen-d" aria-current="page">Biometric</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" style="color: #e61f04;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row m-4">
                <div class="row mb-3 text-center">
                    <div class="col-12 sen-d">
                        <select name="" id="">
                            <option value="">Gateway1</option>
                            <option value="">Gateway2</option>  
                            <option value="">Gateway3</option>
                            <option value="">Gateway4</option>  
                            <option value="">Gateway5</option>
                            <option value="">Gateway6</option>                        
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <table border="1" id="example1" class="table table-hover table-border">
                        <thead>
                            <tr class="sen-h text-center">    
                                <th>User ID</th>
                                <th>Last Access</th>                                
                                <th>Heart Rate (bpm)</th>
                                <th>Body Temperature (°C)</th>
                                <th>Blood Pressure (mmHg)</th>
                                <th>Oxygen Saturation (%)</th>
                                <th>Fingerprint Match</th>
                            </tr>                      
                        </thead>
                        <tbody class="text-center">
                            <tr class="sen-d">
                                <td>User-1</td>
                                <td>10 minutes ago</td>                               
                                <td>75</td>
                                <td>36.5</td>
                                <td>120/80</td>
                                <td>98</td>
                                <td>Matched</td>
                            </tr>
                            <tr class="sen-d">
                                <td>User-2</td>
                                <td>5 minutes ago</td>                                
                                <td>80</td>
                                <td>36.8</td>
                                <td>130/85</td>
                                <td>97</td>
                                <td>Matched</td>
                            </tr>
                            <tr class="sen-d">
                                <td>User-3</td>
                                <td>1 hour ago</td>                               
                                <td>70</td>
                                <td>36.3</td>
                                <td>115/75</td>
                                <td>99</td>
                                <td>Matched</td>
                            </tr>
                            <tr class="sen-d">
                                <td>User-4</td>
                                <td>2 months ago</td>                             
                                <td>78</td>
                                <td>36.6</td>
                                <td>125/80</td>
                                <td>96</td>
                                <td>Matched</td>
                            </tr>
                            <tr class="sen-d">                               
                                <td>User-5</td>
                                <td>20 minutes ago</td>                      
                                <td>85</td>
                                <td>36.7</td>
                                <td>128/82</td>
                                <td>98</td>
                                <td>Matched</td>
                            </tr>
                            <tr class="sen-d">                               
                                <td>User-6</td>
                                <td>1 week ago</td>                        
                                <td>72</td>
                                <td>36.4</td>
                                <td>118/76</td>
                                <td>97</td>
                                <td>Matched</td>
                            </tr>
                        </tbody>                                                             
                    </table>
                </div>
            </div>
        </div>
    </section> 

    <section class="mb-5 pb-5 mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    {{map|safe}}
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}  

    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>

</body>
</html>