{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispenser Monitoring System</title>

    <link rel="stylesheet" href="{%static 'css/sensors.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script> 
        $(function () {
          setTimeout(function() {
            window.location.href = "/Gateway/login_auth/?next=/Gateway/";
        }, 15*60*1000);
      
          $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });

          $("#example2").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });

          $("#example3").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });
        });
      </script>
</head>
<body class="bg-light">
    <header class="bg-dark text-white text-center py-3">
        <h1 class="p-head" style="color: aliceblue;">Dispenser Monitoring System</h1>
    </header>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="dispenserStatusTab" data-bs-toggle="tab" href="#dispenserStatus" role="tab" aria-controls="dispenserStatus" aria-selected="true">Dispenser Status</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="usageHistoryTab" data-bs-toggle="tab" href="#usageHistory" role="tab" aria-controls="usageHistory" aria-selected="false">Usage History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Alerts/Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="dispenserStatus" role="tabpanel" aria-labelledby="dispenserStatusTab">
            <section class="mt-3">
                <div class="container">
                    <div class="row justify-content-center text-center" style="font-weight: 500;">
                        <div class="col-12">
                            <p class="sen-h">Total Tissue in one dispenser&nbsp;&nbsp;:&nbsp;&nbsp;250</p>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row text-center justify-content-center">
                        <div class="col-lg-3">
                            <!-- Floor Selector -->
                            <div class="mb-3">
                                <label for="floorSelector" class="form-label">Select Floor:</label>
                                <select class="form-select" id="floorSelector">
                                    <!-- <option value="all">All Floors</option> -->
                                    <option value="1">Floor 1</option>
                                    <option value="2">Floor 2</option>
                                    <option value="3">Floor 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row m-4 justify-content-center text-center">
                        <div class="col-12">
                            <table id="example1" class="table table-border table-hover">
                                <thead>
                                    <tr class="sen-h">
                                        <th>Dispenser ID</th>
                                        <th>Location</th>
                                        <th>Stock</th>
                                        <th>Status</th>
                                        <th>Last Use</th>
                                    </tr>
                                </thead>
                                <tbody id="dispenserTableBody">
                                    <!-- Data will be dynamically added here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="tab-pane fade" id="usageHistory" role="tabpanel" aria-labelledby="usageHistoryTab">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        {{ plot_div|safe }}
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <!-- Bootstrap JS and Popper.js (for Bootstrap components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Your custom JavaScript for floor filtering and dynamic content updating would go here -->
    <script>
        // Define constants for the number of locations on each floor
        const FLOOR_1_LOCATIONS = 8;
        const FLOOR_2_LOCATIONS = 6;
        const FLOOR_3_LOCATIONS = 6; // Assuming 6 locations for Floor 3, adjust as needed

        document.getElementById('floorSelector').addEventListener('change', function () {
            var selectedFloor = this.value;
            var dispenserTableBody = document.getElementById('dispenserTableBody');
            
            // Clear existing rows
            dispenserTableBody.innerHTML = '';

            // Generate sample data for dispensers
            var totalLocations = FLOOR_1_LOCATIONS + FLOOR_2_LOCATIONS + FLOOR_3_LOCATIONS;
            for (var i = 1; i <= totalLocations; i++) {
                var floor;
                if (i <= FLOOR_1_LOCATIONS) {
                    floor = 1;
                } else if (i <= FLOOR_1_LOCATIONS + FLOOR_2_LOCATIONS) {
                    floor = 2;
                } else {
                    floor = 3;
                }
                
                var stock;
                stock = Math.floor(Math.random() * 100) + 1;
                console.log(stock)

                var status;
                if (stock === 0) {
                    status = 'Empty';
                } else if (stock <= 50) {
                    status = 'Low';
                } else {
                    status = 'Stocked';
                }

                // Add a row to the table if it matches the selected floor or if 'All Floors' is selected
                if (floor.toString() === selectedFloor) {
                    var row = document.createElement('tr');
                    row.classList.add("text-center")                    
                    row.innerHTML = `
                        <td>${i}</td>
                        <td>Location ${i}</td>                
                        <td>${stock}</td>
                        <td><span class="badge ${getStatusBadgeClass(status)}">${status}</span></td>
                        <td>${getRandomDateTime()}</td>
                    `;
                    dispenserTableBody.appendChild(row);
                }
            }
        });

        // Helper function to get a random date and time for the 'Last Refill' column
        function getRandomDateTime() {
            var now = new Date();
            var randomHours = Math.floor(Math.random() * 24);
            var randomMinutes = Math.floor(Math.random() * 60);
            now.setHours(now.getHours() - randomHours);
            now.setMinutes(now.getMinutes() - randomMinutes);
            return now.toISOString().slice(0, 19).replace("T", " ");
        }

        // Helper function to determine the Bootstrap badge class based on dispenser status
        function getStatusBadgeClass(status) {
            switch (status) {
                case 'Stocked':
                    return 'bg-success';
                case 'Low':
                    return 'bg-warning text-dark';
                case 'Empty':
                    return 'bg-danger';
                default:
                    return 'bg-secondary';
            }
        }

        // Set default floor to 1 when window is opened
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('floorSelector').value = '1';
            document.getElementById('floorSelector').dispatchEvent(new Event('change'));
        });
    </script>

    {% include 'footer.html' %}  

    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>

</body>
</html>
