{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYRFALCON</title>

    <link rel="stylesheet" href="{%static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <section>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 sec1-top d-inline">
                    <img src="{% static 'img/gfr.jpg' %}" class="logo-img">
                    <span class="pr-head">GYRFALCON INTELLIEDGE SOLUTIONS</span>
                </div>                
            </div>
        </div>
    </section>
    <hr>
    <section class="n-l">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Home</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" style="color: #e61f04;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-2 mb-5">
        <div class="container border border-4">
            <div class="row text-center">
                <div class="col-12 sec1-top">
                    GYRFALCON<span class="sec1-fl align-top">TM</span>IoT gatway Roadmap
                </div>                
            </div>
            <div class="row text-center pt-5">
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/Temp_sen.png' %}" alt="temperature sensor" class="tsen_img">
                    <p class="mt-3"><a href="{% url 'temperature' %}">TEMPERATURE MEASUREMENT</a></p>
                    <p class="text-muted">Measure the
                        temperature in the
                        target environment to
                        monitor variations
                        precisely</p>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/waterlvl_sen.png' %}" alt="waterlevel sensor" class="sen_img">
                    <p class="mt-3"><a href="{% url 'waterlevel' %}">WATER LEVEL MONITORING</a></p>
                    <p class="text-muted">Can be monitored to
                        maintain ecosystem
                        management, irrigation
                        management based on
                        real time data</p>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/airqual_sen.png' %}" alt="airquality sensor" class="asen_img">
                    <p class="mt-3"><a href="{% url 'airquality' %}">AIR QUALITY MONITORING</a></p>
                    <p class="text-muted">Measuring pollution
                        levels for better
                        environment control</p>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/gas_sen.png' %}" alt="gas sensor" class="sen_img">
                    <p class="mt-3"><a href="{% url 'gas' %}">GAS LEVEL MONITORING</a></p>
                    <p class="text-muted">Measures gases like
                        CO2, SO2, N2, O2, O3</p>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/biometric_sen.png' %}" alt="biometric sensor" class="sen_img">
                    <p class="mt-3"><a href="{% url 'biometric' %}">BIOMETRIC</a></p>
                    <p class="text-muted">individual's pattern
                        identification</p>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/humidity_sen.png' %}" alt="humidity sensor" class="sen_img">
                    <p class="mt-3"><a href="{% url 'humidity' %}">HUMIDITY MONITORING</a></p>
                    <p class="text-muted">Monitoring humidity
                        changes, such as indoor
                        environments,
                        greenhouses, industrial
                        facilities, storage areas
                        optimal plant growth</p>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/imu_sen.png' %}" alt="imu sensor" class="sen_img">
                    <p class="mt-3"><a href="{% url 'imu' %}">INERTIAL MEASUREMENT UNIT</a></p>
                    <p class="text-muted">Provide data on
                        object's movement,
                        including acceleration,
                        rotation, and changes
                        in orientation</p>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/vibr_sen.png' %}" alt="vibration sensor" class="asen_img">
                    <p class="mt-3"><a href="{% url 'vibration' %}">VIBRATION MONITORING</a></p>
                    <p class="text-muted">Measuring highfrequency vibrations in
                        machinery and
                        industrial equipment</p>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/measurement_sen.png' %}" alt="measurement sensor" class="asen_img">
                    <p class="mt-3"><a href="{% url 'measurement' %}">OBJECT MEASUREMENT</a></p>
                    <p class="text-muted">Measure distance,
                        detect objects, or
                        determine the
                        presence of an
                        obstacle</p>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/prox_sen.png' %}" alt="proximity sensor" class="asen_img">
                    <p class="mt-3"><a href="{% url 'proximity' %}">PROXIMITY MONITORING</a></p>
                    <p class="text-muted">Used for presence
                        detection, positioning,
                        and object recognition
                        in manufacturing and
                        assembly lines</p>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/ph_sen.png' %}" alt="ph sensor" class="sen_img">
                    <p class="mt-3"><a href="{% url 'pH' %}">pH MONITORING</a></p>
                    <p class="text-muted">Monitoring pH
                        levels in drinking
                        water, wastewater
                        treatment plants</p>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <img src="{% static 'img/fuel_sen.png' %}" alt="fuel monitoring sensor" class="sen_img">
                    <p class="mt-3"><a href="{% url 'fuel' %}">FUEL MONITORING</a></p>
                    <p class="text-muted">Essential in automotive
                        applications, industrial
                        machinery, fuel storage,
                        and other systems where
                        accurate fuel level
                        measurement is critical</p>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}  
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
