{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>GYRFALCON</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body class="img js-fullheight" style="background-image: url('{% static "img/iot1.jpg" %}');">
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <form action="{% url 'sensors' %}" class="signin-form rounded shadow-5-strong p-5" style="background-color: rgba(0, 0, 0, 0.6);" method="post">
                        <div class="text-center mb-5">
                            <img src="{% static 'img/gfr.jpg' %}" class="logo-img">
                            <p class="pr-head">GYRFALCON INTELLIEDGE SOLUTIONS</p>
                            <p class="pr-def">IoT Gatway Roadmap</p>
                        </div>
                        <div class="form-group">
                            <input type="text" name="gfr_username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input id="password-field" name="gfr_password" type="password" class="form-control" placeholder="Password">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="form-control btn btn-primary submit px-3" value="Login">
                        </div>
						{% if error_message %}
							<p class="text-center" style="color: red;">{{ error_message }}</p>
						{% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>