{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROXIMITY</title>

    <link rel="stylesheet" href="{%static 'css/sensors.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables/responsive.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script> 
        $(function () {
          setTimeout(function() {
            window.location.href = "/Gateway/login_auth/?next=/Gateway/";
        }, 15*60*1000);
      
          $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });

          $("#example2").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });

          $("#example3").DataTable({
            "responsive": true,
            "autoWidth": false,
            "pageLength": 10,        
          });
        });
      </script>
</head>
<body class="bg-light">
    <section class="sec-head" style="background-color: antiquewhite;">
        <div class="container text-center my-auto mt-3 mb-3 font-weight-bold">
            <p class="p-head">PROXIMITY MONITORING</p>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item sen-d"><a href="{% url 'sensors' %}">Home</a></li>
                            <li class="breadcrumb-item active sen-d" aria-current="page">Proximity</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" style="color: #e61f04;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row m-4">
                <div class="col-12">
                    <table border="1" id="example1" class="table table-hover table-border">
                        <thead>
                            <tr class="sen-h text-center">    
                                <th>Gateway</th>
                                <th>Last Update</th>                                
                                <th>Proximity Distance (cm)</th>
                            </tr>                      
                        </thead>
                        <tbody class="text-center">
                            <tr class="sen-d">
                                <td>Gateway-1</td>
                                <td style="color: green;">10 minutes ago</td>                               
                                <td>5</td>
                            </tr>
                            <tr class="sen-d">
                                <td>Gateway-2</td>
                                <td style="color: green;">5 minutes ago</td>                                
                                <td>10</td>
                            </tr>
                            <tr class="sen-d">
                                <td>Gateway-3</td>
                                <td style="color: red;">1 hour ago</td>                               
                                <td>15</td>
                            </tr>
                            <tr class="sen-d">
                                <td>Gateway-4</td>
                                <td style="color: red;">2 months ago</td>                             
                                <td>8</td>
                            </tr>
                            <tr class="sen-d">                               
                                <td>Gateway-5</td>
                                <td style="color: green;">20 minutes ago</td>                      
                                <td>12</td>
                            </tr>
                            <tr class="sen-d">                               
                                <td>Gateway-6</td>
                                <td style="color: red;">1 week ago</td>                        
                                <td>7</td>
                            </tr>
                        </tbody>                                                                                                      
                    </table>
                </div>
            </div>
        </div>
    </section> 

    <section>
        <div class="container border bg-dark text-white">
            <div class="row text-center justify-content-center">
              <div class="col-md-2 sen-h"><b>Last Update</b></div>
              <div class="col-md-6">
                <div class="row sen-d">
                  <div class="col-6"><i class="fa fa-circle" style="font-size:12px;color:green"></i>&nbsp;&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;1 hour&nbsp;&nbsp;&nbsp;</div> 
                  <div class="col-6"><i class="fa fa-circle" style="font-size:12px;color:rgb(2255,0, 0)"></i>&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 hour&nbsp;&nbsp;&nbsp;</div>
                </div>
              </div>
            </div>
        </div>
    </section>

    <section class="mb-5 pb-5 mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    {{map|safe}}
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}  

    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive.bootstrap4.min.js' %}"></script>

</body>
</html>